{% extends 'base.html' %} {% block content %}
<form method="POST" class="" action="/peliculas/add">
	{% csrf_token %}
	<div class="container">
		<br />
		<div class="form-group row">
			<label class="col-sm-1 col-form-label"></label>
			<div class="col-sm-4">
				<h3>Agregar pelicula nueva</h3>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Nombre:</label>
			<div class="col-sm-4">
				<input
					type="text"
					name="nombre"
					id="id_nombre"
					required
					maxlength="50"
				/>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Director:</label>
			<div class="col-sm-4">
				<input
					type="text"
					name="director"
					id="id_director"
					required
					maxlength="50"
				/>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Genero:</label>
			<div class="col-sm-4">
				<input
					type="text"
					name="genero"
					id="id_genero"
					required
					maxlength="50"
				/>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Duracion:</label>
			<div class="col-sm-4">
				<input type="number" name="duracion" id="id_duracion" required />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Stock:</label>
			<div class="col-sm-4">
				<input type="number" name="stock" id="id_stock" required />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-1 col-form-label"></label>
			<div class="col-sm-4">
				<button type="submit" class="btn btn-primary">Guardar</button>
				<a href="/peliculas" class="btn btn-secondary">Volver</a>
			</div>
		</div>
	</div>
</form>
{% endblock %}
